SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3aGV1aGR1eGljcWpudmZ5Z2VqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE2Njg4NzMsImV4cCI6MjA2NzI0NDg3M30.zKk3oNxs61PFcxv3v0a_lMqhNzPOsyPQiuapGZmqHSQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3aGV1aGR1eGljcWpudmZ5Z2VqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTY2ODg3MywiZXhwIjoyMDY3MjQ0ODczfQ.0LadqrV3jR3Ccx-QXwUOGfO-AszWa6-SoUaGDaq8VQ4