fastapi
uvicorn[standard]
pydantic
pydantic[email]
python-decouple
supabase
python-multipart
pytest
pytest-asyncio
httpx
black
flake8
mypy
celery
SQLAlchemy
asyncpg
psycopg2-binary
geoalchemy2[shapely]
shapely
greenletgoogle-auth
google-auth-oauthlib
google-auth-httplib2
# Google OAuth dependencies added
